<!DOCTYPE html>
<html>
    <head>
        <title> Oluwatimilehin </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <span> Oluwatimilehin </span>
                </div>
                <div class="navbar-right">
                    <span> projects </span>
                    <span> cv </span>
                    <span> contact </span>
                </div>
            </nav>
            <hr class="hr">
        </header>
        <main>
            <!-- Intro Section -->
            <section id="intro-section"> 
                <div class="greeting-container">
                    <img class="profile-pic" src="static/images/Profile Pic.png" alt="Oluwatimilehin Orawusi Profile Picture">
                    <p class="greeting-text-container"><span class="greeting-text"> Hi i am Oluwatimilehin</span><span>✌🏾</span></p>
                    <div class="description-text-container">
                        <h1 class="description-text"> <span class="first-header-text">A Python Developer ,</span>
                            Backend Web Developer and Data analyst.
                        </h1>
                    </div>
                    <button class="hire-me-button"> HIRE ME</button>
                </div>
            </section>

            

        </main>
    </body>
</html>