<!DOCTYPE html>
<html>
    <head>
        <title> Oluwatimilehin </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <section id="intro-section"> 
                <div class="greeting-container">
                    <img class="profile-pic" src="static/images/Profile Pic.png" alt="Oluwatimilehin Orawusi Profile Picture">
                    <p><span class="greeting-text"> Hi i am Oluwatimilehin</span><span>✌🏾</span></p>
                    <h1 class="description-text"> A Python Developer ,
                        Backend Web Developer and Data analyst.
                    </h1>
                </div>
            </section>
        </main>
    </body>
</html>