<!DOCTYPE html>
<html>
    <head>
        <title> Oluwatimilehin </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;900&family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <span> Oluwatimilehin </span>
                </div>
                <div class="navbar-right">
                    <span> projects </span>
                    <span> cv </span>
                    <span> contact </span>
                </div>
            </nav>
            <hr class="hr">
        </header>
        <main>
            <!-- Intro Section -->
            <section id="intro-section"> 
                <div class="greeting-container">
                    <img class="profile-pic" src="static/images/Profile Pic.png" alt="Oluwatimilehin Orawusi Profile Picture">
                    <p class="greeting-text-container"><span class="greeting-text"> Hi i am Oluwatimilehin</span><span>✌🏾</span></p>
                    <div class="description-text-container">
                        <h1 class="description-text"> <span class="newline-words">A Python Developer ,</span>
                            Backend Web Developer and Data analyst.
                        </h1>
                    </div>
                    <button class="buttons"> HIRE ME</button>
                </div>
            </section>

            <!-- Section for all your skills, languages and frameworks you know -->
            <section id="skills-section">
                <div class="skills-box">
                   <img class="github-logo logos" src="static/images/Logos/github-original.png">
                   <img class="flask-logo" src="static/images/Logos/flask-original-wordmark.png">
                   <img class="python-logo" src="static/images/Logos/Frame 20.png">
                   <img class="logos" src="static/images/Logos/Programming logos and icons by hrhasnai (4).png">
                   <img class="logos" src="static/images/Logos/Frame 22.png">
                   <img class="logos" src="static/images/Logos/bootstrap-original.png">
                </div>
            </section>

            <!-- Projects Section -->

            <section id="projects"> 
                <h1 class="headers"> Projects </h1>
                <div class="projects-container">
                    <div class="project-box"></div>
                    <div class="project-box"></div>
                    <div class="project-box"></div>
                    <div class="project-box"></div>
                    <div class="project-box"></div>
                    <div class="project-box"></div>
                </div>
            </section>
            
            <hr>
            

        </main>
    </body>
</html>