<header>
    <nav class="navbar">
        <div class="navbar-left">
            <span> <a  class="navbar-link" href="{{ url_for('home') }}">Oluwatimilehin</a> </span>
        </div>
        <div class="navbar-right">
            <span><a  class="navbar-link" href="#projects"> projects </a></span>
            <span><a class="navbar-link" href=" {{ url_for('cv') }}"> cv </a></span>
            <span> <a class="navbar-link" href="{{ url_for('contact') }}"> contact </a></span>
    
        </div>
    </nav>
    <hr class="hr">
</header>