<!DOCTYPE html>
<html>
    <head> 
        {% include "navbar.html"%}
        {% include "header.html"%}   
        <link rel="stylesheet" href=" {{ url_for('static', filename='styles/projects.css') }}">
    </head>
    <body>
        <main>
            <div class="project-flexbox">
                <div class="project-left-section">
                    <h1 class="headers body-text project-header"> {{ project.name }}</h1>
                    <div class="project-display">
                        {% if shorts%}
                        <iframe width="315" height="400" src="{{project.youtube_url}}" title="{{project.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}

                        {% if not available %}
                        <img src="static/images/n:a gif.gif">
                        {% endif %}

                        {% if available %}
                        <iframe src="{{project.youtube_url}}" title="{{project.name}}"></iframe>
                        {% endif %}
                        
                    </div>
                    <a class="github-text-link body-text" href="{{ project.github_link }}" target="_blank">Github Link</a>
                </div>
                <div class="project-description body-text project-body">
                    {{ project.description }}
                </div>
            </div>
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
        </body> 
</html>