a { 
     /* Reset all styles for the anchor tag's :hover pseudo-class */
    color: inherit;
    text-decoration: None;
    transition: font-size 0.15s;
 }

body {
    background: #1A1A1A;
    margin: 0;
}

.body-text{
    background: linear-gradient(90deg, #FFF4F4 2.25%, rgba(255, 245, 245, 0.90625) 11.39%, rgba(255, 255, 255, 0) 139.19%);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 200;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
div{
    margin: 0;
}



hr{
    border-color: rgba(255, 255, 255, 0.31);
    border-width: 0.7px;
}

p{
    margin: 0;
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.headers{
    font-size: 4rem;
    font-weight: 200;
    line-height: 7rem;
    text-align: center;
}

.buttons{
    background-color: rgba(209, 208, 208, 0.02);
    border: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.48);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1rem;
    padding: 1.2rem 6rem;
    transition: background-color 0.15s ease-in-out;
}

.buttons:hover{
    background-color: rgba(209, 208, 208, 0.1);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.newline-words{
    display: block;
}
/* Navbar */

.navbar{
    color: rgba(209, 208, 208, 0.95);
    display: flex;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 100;
    flex-direction: row;
    padding: 1.4rem;

}


.navbar-left{
    margin-left: 5.5rem;
}

.navbar-link:hover {
    background: linear-gradient(90deg, #FFF4F4 2.25%, rgba(255, 245, 245, 0.90625) 30.39%, rgba(255, 255, 255, 0) 180.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
  }

.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 5.5rem;
    width: 30%;
}


/* Intro Section */
.description-text{
    background: linear-gradient(90deg, #FFF4F4 2.25%, rgba(255, 245, 245, 0.90625) 11.39%, rgba(255, 255, 255, 0) 139.19%);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 200;
    line-height: 50px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.description-text-container{
    width: 100%;
    margin: 1.6rem;
}


.greeting-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    width: 50%;
}

.greeting-text{
    background: linear-gradient(90deg, rgba(209, 208, 208, 0.95), rgba(209, 208, 208, 0.95));
    color: rgb(255, 255, 255);
    display: inline;
    font-family: 'Roboto', arial;
    font-weight: 400;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greeting-text-container{
    margin-top: 1em;
}

.profile-pic{
    width: 217px;
}


/* Skills Section */
.flask-logo{
    width: 6rem;
}

.python-logo{
    width: 6rem;
}

.github-logo{
    margin-bottom: 1rem;
}

.logos{
    width: 2.5rem;
}

.skills-box{
    align-items: center;
    background-color: rgba(209, 208, 208, 0.02);
    border: solid;
    border-color: rgba(255, 255, 255, 0.31);
    border-width: 1px 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.skills-link:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}



/* Projects Section */

#projects{
    margin-top: 4rem;
    margin-bottom: 9rem;
}


    

.project-box{
    background-color: rgba(209, 208, 208, 0.02);
    height: 25rem;
    width: 18rem;
    transition: background-color 0.15s transform 0.15s;
}


.project-box:hover {
    background-color: rgba(209, 208, 208, 0.1);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: space-between;
    place-items: center;
    margin: 0 auto;
    row-gap: 4.5rem;
    text-align: center;
    width: 100%;
    

}

.projects-grid-container{
    width: 90%;
    margin: auto;
}
.project-text{
    background: linear-gradient(90deg, #FFF4F4 2.25%, rgba(255, 245, 245, 0.90625) 11.39%, rgba(255, 255, 255, 0) 139.19%);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 200;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-title{
    font-size: 2rem;
    margin: 1.5rem auto;
    width: 15rem;
}

.project-title-extra{
    margin-bottom: 4rem;
}

.project-title-coming-soon{
    margin-top: 5rem;
}

.project-title-web{
    margin-top: 3rem;
}

.project-icons{
    margin-top: 4rem;
    width: 4rem;
}


/* Call to action Section */
.call-to-action{
    font-size: 4.5rem;
    text-align: center;
}

#contact{
    margin: 11rem 0;
    
}

.contact-container{
    position: relative;
    margin: 0 auto;
    width: 50%;
}

.contact-me-button{
    display: block;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem 3rem;
    text-align: center;
    margin: 4rem auto;
    white-space: nowrap;
    width: 40%;
    background-color: rgba(209, 208, 208, 0.02);
    border: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.48);
    transition: background-color 0.15s ease-in-out;
}

.contact-me-button:hover{
    background-color: rgba(209, 208, 208, 0.1);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}












/* Responsiveness */

@media screen and (min-width: 1281px) {
    #intro-section{
        margin: 8.7rem 0;
    }
 
  }

@media screen and (min-width:900px) and (max-width: 1024px) {

    body{
        font-size: 80%;
    }

    .headers{
        font-size: 2.56rem;
    }

    .description-text{
        font-size: 2.56rem;
    }

    .projects-container{
    grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width:700px) and (max-width: 900px) {

    body{
        font-size: 80%;
    }

    .headers{
        font-size: 2.56rem;
    }

    .description-text{
        font-size: 2.048rem;
    }

    .projects-container{
    grid-template-columns: 1fr 1fr;
    }

}


@media screen and (max-width:700px) {

    body{
        font-size: 70%;
    }

    .headers{
        font-size: 2rem;
    }

    .description-text{
        font-size: 1.8rem;
    }

    .projects-container{
    grid-template-columns: 1fr;
    }

}

@media screen and (max-width:500px) {

    body{
        font-size: 70%;
    }

    .headers{
        font-size: 30px;
        line-height: 38px;
    }

    .description-text{
        font-size: 1.8rem;
    }

    .projects-container{
    grid-template-columns: 1fr;
    }

    .project-title{
        font-size: 28px;
    }

}